<div class="container-fluid" [style.background-color]="bg" [style.color]="color">
  <div class="calc-theme">
      <div class="logo h4">calc</div>
      <div class="themeMode">
        <div class="row impor">
          <div class="col">THEME</div>
          <div class="col">
          <div class="row p-1">
            <div class="col">1</div>
            <div class="col">2</div>
            <div class="col">3</div>
          </div>
          <div class="toggle" [style.background-color]="togglebg">
            <div class=" circle rounded-circle"  (click)="toggleTheme(1)" [ngStyle]="ishidden1?{'background-color':circlebg} : {'background-color': togglebg}"></div>
            <div class=" circle rounded-circle"  (click)="toggleTheme(2)" [ngStyle]="ishidden2?{'background-color':circlebg} : {'background-color': togglebg}"></div>
            <div class=" circle rounded-circle"  (click)="toggleTheme(3)" [ngStyle]="ishidden3?{'background-color':circlebg} : {'background-color': togglebg}"></div>
          </div>
          </div>
        </div>
      </div>
  </div>
  <app-calc></app-calc>
</div>