<div id="screen">
  {{onScreen}}
</div>
<div class="buttons" [style.background-color]="bgbtn">
    <div class="row">
      <div class="col btnnum" id="normalbtn">7</div>
      <div class="col btnnum" id="normalbtn">8</div>
      <div class="col btnnum" id="normalbtn">9</div>
      <div class="col btnnum" id="DelReset">DEL</div>
    </div>
    <div class="row">
      <div class="col btnnum" id="normalbtn">4</div>
      <div class="col btnnum" id="normalbtn">5</div>
      <div class="col btnnum" id="normalbtn">6</div>
      <div class="col btnnum" id="normalbtn">+</div>
    </div>
    <div class="row">
      <div class="col btnnum" id="normalbtn">1</div>
      <div class="col btnnum" id="normalbtn">2</div>
      <div class="col btnnum" id="normalbtn">3</div>
      <div class="col btnnum" id="normalbtn">-</div>
    </div>
    <div class="row">
      <div class="col btnnum" id="normalbtn">.</div>
      <div class="col btnnum" id="normalbtn">0</div>
      <div class="col btnnum" id="normalbtn">/</div>
      <div class="col btnnum" id="normalbtn">x</div>
    </div>
    <div class="row">
      <div class="col btnnum" id="DelReset">RESET</div>
      <div class="col btnnum" id="equal">=</div>
    </div>
</div>